<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QRCcal Flask Test</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdndotcom/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://getbootstrapdotcom/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/preferences">Preferences</a></li>
 	          <li role="presentation"><a href="/profile">Profile</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">QRCcal Flask App Test</h3>
      </div>

      <div class="jumbotron">
        <h1>Block Schedue</h1>
        <p class="lead"></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Test Header</h4>
          <p>Hey guys.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Software Project Party Time</p>
      </footer>

    </div>
  </body>
</html>
