body {
  background-color: #d19d2c;
  padding: 20px;
  margin: 0;
}
h1, h2, h3, p, ul, li {
  font-family: optima;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  border-radius: 25px;
}
ul.header {
  background-color: #111;
  padding: 0;
  border-radius: 25px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border-radius: 25px;
}
.active {
  background-color: #00BFFF;
  border-radius: 25px;
}
.content {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 25px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

#sitetitle {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 40px;
}

#modalPopUp {
  width: 100%
}

#framework {
  padding: 0px;
}
